Flask==1.1.1
gencpp==0.6.2
google==2.0.3
gunicorn==20.0.4
h5py==2.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.0
pyRFC3339==1.0
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.32
python-qt-binding==0.3.6
python-xapp==1.0.0
python-xlib==0.20
requests==2.22.0
requests-unixsocket==0.1.5
scikit-learn==0.20.2
scipy==1.2.0
Scrapy==1.8.0
